.imagem{
   position: absolute;
   right:50px;
}
.categoria{
  margin-left: 30px;
  margin-top: -18px;
  font-size: 20px;
  font-weight: bold;
color: rgb(78,54,32);
}
.container{
  width: 100%;
  height: 100%;
}
.row2{
  margin-left: 50%;
  height: auto;
}
.row1{
  max-width: 50%;
  height: auto;
}
.col1{
  margin-right: 50%;
  float: left;
  word-break: break-all;
  text-align: justify;
}
.col2{
  margin-left: 50%;
  word-break: break-all;
  text-align: justify;
}
.text{

}
.texto{
  margin-left: 30px;
}
.los{
  width:10px;
 height:10px;
background-color: rgb(137,120,86);
  transform: rotate(-45deg);
}
.superior{
  width: 100%;
  height: 180px;
  background-color: rgb(137,120,86);
}
.linha{
  margin-left: 50%;
border-left: thick solid #4E3620;
}
img{
    border-radius: 50%;
}
body{
  background-color: rgb(248,244,225);
font-family: "Century Gothic";
    }

div.tema{
  text-align: center;
}
.dados{
  font-family: Century Gothic;
  text-align: left;
  /*  background-color: blue;
  padding: 20px;
  height: 30;
  width: 44px;
*/}
.teste{
  width: 300px;
  background-color:pink;
  padding: 20px;
}
